{% extends 'base.html' %}

{% load humanize %}

{% load class_name %}
{% load upto %}

{% load mptt_tags %}


{% block title %}Bookmark{% endblock %}

{% block content %}
    
<div class="main"> 
        <div class="main-header">
          <div class="toggle-header">
            <button onclick="openLeftSidebar()">
              <i class="bx bx-menu" id="header-toggle"></i>
          </button>
          </div>
            Bookmark
          <div class="image-header">
            <p class="image image-header-size">
              <img class="image-circle" src="https://bulma.io/images/placeholders/128x128.png">
            </p>
          </div>
        </div>
        <div class="main-body">
              <div class="pad-t">  
                .              
              </div>
              <hr class="hr-1">
              {% for bookmark in bookmark_list %}
                <div class="post-feed">
                    <div class="post-inner">
                      
                      <div class="post-content" id="post-{{post.pk}}">
                        <div class="post-content-header">
                          <div class="left-post-content-header">

                            {% if bookmark.bookmark_post != None %}
                                <span class="post-pro-pic">
                                {% if bookmark.bookmark_post.user.profile.picture %}
                                  <a href="{% url 'profile' bookmark.bookmark_post.user.username %}">
                                    <img class="post-image-circle" src="{{ bookmark.bookmark_post.user.profile.picture.url }}" alt="">
                                  </a>
                                {% endif %}
                                </span>
                                <a href="{% url 'profile' bookmark.bookmark_post.user.username %}" class="pro-name">@{{ bookmark.bookmark_post.user.username }}</a> 
                                <span class="post-time">{{ bookmark.bookmark_post.created_on|timesince|upto:',' }}</span> 
                            {% else %}
                                <span class="post-pro-pic">
                                {% if bookmark.bookmark_comment.user.profile.picture %}
                                  <a href="{% url 'profile' bookmark.bookmark_comment.user.username %}">
                                    <img class="post-image-circle" src="{{ bookmark.bookmark_comment.user.profile.picture.url }}" alt="">
                                  </a>
                                {% endif %}
                                </span>
                                <a href="{% url 'profile' bookmark.bookmark_comment.user.username %}" class="pro-name">@{{ bookmark.bookmark_comment.user.username }}</a> 
                                <span class="post-time">{{ bookmark.bookmark_comment.created_on|timesince|upto:',' }}</span> 
                            {% endif %}                          
                        </div>
                          <div class="right-post-content-header">
                            <span class="post-ellipsis"><i class="fa fa-ellipsis-h"></i></span>
                          </div>
                        </div>
                        <div class="post-content-body">
                            {% if bookmark.bookmark_post != None %}
                                <p class="comment-body">{{bookmark.bookmark_post.post_body}}</p>
                            {% else %}
                                <p class="comment-reply-to-p">replying to<a href="" class="comment-reply-to-a"> @{{bookmark.bookmark_comment.commented_post.user.username }}</a></p>
                                <p class="comment-body">{{bookmark.bookmark_comment.commented_body}}</p>
                            {% endif %}
                        </div>
                        <div class="post-content-footer">
                            <div class="reply-icon">
                              <button>

                                {% if bookmark.bookmark_post != None %}
                                <a class="fa fa-reply" href="{% url 'post-detail' bookmark.bookmark_post.user.username bookmark.bookmark_post.pk %}"></a>
                                {% else %}
                                <a class="fa fa-reply" href="{% url 'comment-detail' bookmark.bookmark_comment.user.username bookmark.bookmark_comment.pk %}"></a>
                                {% endif %}


                                {% if bookmark.bookmark_post.get_comments.count != 0 %}
                                <span><i class="number-of-reaction"> {{bookmark.bookmark_post.get_comments.count}}</i></span>
                                {% else %}
                                <span> <i></i></span>
                                {% endif %}
                              </button>
                            </div>
        
                            <div class="retweet-icon">
                                {% if bookmark.bookmark_post != None %}
                                    <form action="{% url 'post-share' bookmark.bookmark_post.pk %}" method="post">
                                        {% csrf_token %}
            
                                        <input type="hidden" name="next" value="{{ request.path }}">
            
                                        <button type="submit">
                                            {% if request.user in bookmark.bookmark_post.shares.all %}
                                            <span class="icon is-small"><i class="fa fa-retweet green"></i></span>
            
                                            {% else %}
                                            <span class="icon is-small"><i class="fa fa-retweet" id="heart-toggle"></i></span>
            
                                            {% endif %}
                                            <i class="number-of-reaction">{{ bookmark.bookmark_post.shares.all.count }}</i>
                                        </button>
                                    </form>
                                {% else %}
                                    <form action="{% url 'comment-share' bookmark.bookmark_comment.pk %}" method="post">
                                        {% csrf_token %}
            
                                        <input type="hidden" name="next" value="{{ request.path }}">
            
                                        <button type="submit">
                                            {% if request.user in bookmark.bookmark_comment.shares.all %}
                                            <span class="icon is-small"><i class="fa fa-retweet green"></i></span>
            
                                            {% else %}
                                            <span class="icon is-small"><i class="fa fa-retweet" id="heart-toggle"></i></span>
            
                                            {% endif %}
                                            <i class="number-of-reaction">{{ bookmark.bookmark_comment.shares.all.count }}</i>
                                        </button>
                                    </form>

                                {% endif %}
                            </div>                        
        
                            <div class="heart-icon">
                                {% if bookmark.bookmark_post != None %}
                                  <form action="{% url 'post-like' bookmark.bookmark_post.pk %}" method="post">
                                    {% csrf_token %}
            
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    
            
                                    <button type="submit">    
          
                                        {% if request.user in  bookmark.bookmark_post.likes.all %}
                                          <span class="icon is-small"><i class="fa fa-heart red" id="heart-toggle"></i></span>
          
                                        {% else %}
                                          <span class="icon is-small"><i class="fa fa-regular fa-heart" id="heart-toggle"></i></span>
          
                                        {% endif %}
                                        <i class="number-of-reaction">{{ bookmark.bookmark_post.likes.count }}</i>
          
                                    </button>
                
                                  </form>
                                {% else %}
                                  <form action="{% url 'comment-like' bookmark.bookmark_comment.pk %}" method="post">
                                    {% csrf_token %}
            
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    
            
                                    <button type="submit">    
          
                                        {% if request.user in  bookmark.bookmark_comment.likes.all %}
                                          <span class="icon is-small"><i class="fa fa-heart red" id="heart-toggle"></i></span>
          
                                        {% else %}
                                          <span class="icon is-small"><i class="fa fa-regular fa-heart" id="heart-toggle"></i></span>
          
                                        {% endif %}
                                        <i class="number-of-reaction">{{ bookmark.bookmark_comment.likes.count }}</i>
          
                                    </button>
                
                                  </form>                                
                                {% endif %}
                                  
                            </div>
        
                            <div class="post-saved-item">
                                {% if bookmark.bookmark_post != None %}
                                    <form action="{% url 'bookmark-post' bookmark.bookmark_post.pk %}" method="post">
                                        {% csrf_token %}
            
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        
            
                                        <button type="submit">    
            
                                            {% if request.user in bookmark.bookmark_post.bookmark.all %}
                                            <span class="icon is-small"><i class="fa fa-bookmark" id="heart-toggle"></i></span>
            
                                            {% else %}
                                            <span class="icon is-small"><i class="fa fa-regular fa-bookmark" id="heart-toggle"></i></span>
            
                                            {% endif %}
                                        </button>
            
                                    </form>
                                {% else %}
                                    <form action="{% url 'bookmark-comment' bookmark.bookmark_comment.pk %}" method="post">
                                        {% csrf_token %}
            
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        
            
                                        <button type="submit">    
            
                                            {% if request.user in bookmark.bookmark_comment.bookmark.all %}
                                            <span class="icon is-small"><i class="fa fa-bookmark" id="heart-toggle"></i></span>
            
                                            {% else %}
                                            <span class="icon is-small"><i class="fa fa-regular fa-bookmark" id="heart-toggle"></i></span>
            
                                            {% endif %}
                                        </button>
            
                                    </form>
                                {% endif %}
                            </div>
                        </div>
        
                      </div>
                    </div>

                    {% if bookmark.bookmark_post != None %}
                    <a class="post-link" href="{% url 'post-detail' bookmark.bookmark_post.user.username bookmark.bookmark_post.pk %}"></a>
                    {% else %}
                    <a class="post-link" href="{% url 'comment-detail' bookmark.bookmark_comment.user.username bookmark.bookmark_comment.pk %}"></a>
                    {% endif %}

                </div>
                    
                  <hr  class="hr-1">

              {% endfor %}
        </div>
</div>

{% endblock %}