{% extends 'base.html' %}

{% load humanize %}

{% load class_name %}
{% load upto %}

{% load mptt_tags %}


{% block title %}{{ post.user.username }} on Quack{% endblock %}

{% block content %}

    <div class="main"> 
        <div class="main-header">
          <div class="toggle-header">
            <button onclick="openLeftSidebar()">
              <i class="bx bx-menu" id="header-toggle">
              </i>
            </button>
          </div>
            Quack
          <div class="image-header">
            <p class="image image-header-size">
              <img class="image-circle" src="https://bulma.io/images/placeholders/128x128.png">
            </p>
          </div>
        </div>
        <div class="main-body">
              <div class="pad-t">  
                .              
              </div>

              <hr class="hr-1">


              <div class="post-feed current-comment">
                <div class="root">
                  <div class="comment">
                      <div class="post-inner">
                        <div class="post-pro-pic">

                            <div class="post-current-left-header">
                                <div class="post-pro-pic-inner">
                                  {% if post.user.profile.picture %}
                                  <a href="{% url 'profile' post.user.username %}">
                                        <img class="post-image-circle-child-comment" src="{{ post.user.profile.picture.url }}" alt="">
                                    </a>
                                  {% endif %}
                                </div>
                                
                                <div class="post-pro-name">
                                    <a href="{% url 'profile' post.user.username %}" class="pro-name">@ {{ post.user.username }}</a>
                                </div>
                            </div>                      

                            <div class="post-current-right-header">
                                <div class="right-post-content-header">
                                <span class="post-ellipsis"><i class="fa fa-ellipsis-h"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="post-content">
                          
                          <div class="post-current-content-body">
                            <p>{{ post.post_body }}</p>
                            <h6 class="post-current-time-posted">{{ post.created_on }}</h6>

                            <hr>
                              <div class="post-quack-requack-likes-count">
                                <p><span>{{ post.shares.all.count }}</span> Requack </p>
                                <!-- <p><span>12</span> Quote Quack </p> -->
                                <p><span>{{ post.likes.all.count }}</span> Likes </p>

                              </div>

                            <hr>
                              <div class="post-content-footer">
                                  <div class="reply-icon">
                                      <button>
                                        <a href="" class="icon is-small"><i class="fa fa-reply"></i></a><span> {{post.get_comments.count}}</span>
                                      </button>
                                  </div>
          
                                  <div class="retweet-icon">
                                    <form action="{% url 'post-share' post.pk %}" method="post">
                                      {% csrf_token %}
          
                                      <input type="hidden" name="next" value="{{ request.path }}">
          
                                      <button type="submit">
                                        {% if request.user in post.shares.all %}
                                        <span class="icon is-small"><i class="fa fa-retweet green"></i></span>
          
                                        {% else %}
                                        <span class="icon is-small"><i class="fa fa-retweet" id="heart-toggle"></i></span>
          
                                        {% endif %}
                                        <i class="number-of-reaction">{{ post.shares.all.count }}</i>
                                      </button>
                                    </form>
                                  </div>
                                  
              
                                  <div class="heart-icon">
  
                                    <form action="{% url 'post-like' post.pk %}" method="post">
            
                                      {% csrf_token %}
            
                                      <input type="hidden" name="next" value="{{ request.path }}">
                                      
            
                                      <button type="submit">    
            
                                          {% if request.user in post.likes.all %}
                                            <span class="icon is-small"><i class="fa fa-heart red" id="heart-toggle"></i></span>
                                            <!-- <span  class="like-btn{{post.pk}}">Liked</span>  -->
            
                                          {% else %}
                                            <span class="icon is-small"><i class="fa fa-regular fa-heart" id="heart-toggle"></i></span>
                                            <!-- <span  class="like-btn{{post.pk}}">Like</span>  -->
            
                                          {% endif %}
                                          <i class="number-of-reaction">{{ post.likes.all.count }}</i>
            
                                      </button>
                                    </form>
              
                                      
                                  </div>
              
                                  <div class="post-saved-item">
                                    <form action="{% url 'bookmark-post' post.pk %}" method="post">
                                      {% csrf_token %}
            
                                      <input type="hidden" name="next" value="{{ request.path }}">
                                      
            
                                      <button type="submit">    
            
                                          {% if request.user in post.bookmark.all %}
                                            <span class="icon is-small"><i class="fa fa-bookmark" id="heart-toggle"></i></span>
            
                                          {% else %}
                                            <span class="icon is-small"><i class="fa fa-regular fa-bookmark" id="heart-toggle"></i></span>
            
                                          {% endif %}
                                      </button>
            
                                    </form>
                                  </div>
                              </div>

                              <hr class="hr-1">

                              <div class="post-comment-form-detail">

                                  <div class="post-inner-comment-form">
                                    <div class="post-pro-pic">
                                      {% if request.user.profile.picture %}
                                        <div class="post-pro-pic-inner">
                                          <a href="{% url 'profile' request.user.username %}">
                                            <img class="post-image-circle-child-comment" src="{{ request.user.profile.picture.url }}" alt="">
                                          </a>
                                        </div>
                                      {% endif %}
                                    </div>
                                    <div class="post-content-comment-form">

                                        <form action="{% url 'post-comment-api' post.pk %}" method="post">
                                          {% csrf_token %}

                                              <p class="post-content-form-left">{{ form.commented_body }}</p>

                                              <div class="post-content-form-right">
                                                <button style="float: right;" type="submit" class="postButton">
                                                    Reply
                                                </button>
                                              </div>

                                          </div>
                                        </form>
                                                                            
                                    </div>
                                    
                              </div>  
                          </div>
                        </div>
                            
                          
    
                      </div>
                  </div>             
              
                      
                  </div>
                </div>
            
              </div>

              <hr class="hr-1">

              {% for comment, comment_counts in mylist %}

              <div class="comment-feed">
                  <div class="root">
                    <div class="comment">
                        <div class="post-inner">
                          
                          <div class="post-content">
                            <div class="post-content-header">
                              <div class="left-post-content-header">
                                <span class="post-pro-pic">
                                  {% if comment.user.profile.picture %}
                                    <a href="{% url 'profile' comment.user.username %}">
                                      <img class="post-image-circle-child-comment" src="{{ comment.user.profile.picture.url }}" alt="">
                                    </a>
                                  {% endif %}
                                </span>
                                <a href="{% url 'profile' comment.user.username %}" class="pro-name">@{{ comment.user.username }}</a> 
                                <span class="post-time">{{ comment.created_on|timesince|upto:',' }}</span> 
                              </div>
                              <div class="right-post-content-header">
                                <span class="post-ellipsis"><i class="fa fa-ellipsis-h"></i></span>
                              </div>
                            </div>
                            <div class="post-content-body">
                              <p class="comment-reply-to-p">replying to<a href="" class="comment-reply-to-a"> @{{comment.commented_post.user.username }}</a></p>
                              <p class="comment-body">{{ comment.commented_body }}</p>
                            </div>
                            <div class="post-content-footer">
                              <div class="reply-icon">
                                <button>
                                  <a href="{% url 'comment-detail' comment.user.username comment.pk %}" class="icon is-small"><i class="fa fa-reply"></i></a>
                                </button>

                                {% if comment_counts != 0 %}
                                      <i class="number-of-reaction">{{ comment_counts }}</i>
                                {% else %}
                                      <i class="zero-number-of reaction"></i>
                                {% endif %}
                              </div>
          
                              <div class="retweet-icon">
                                <form action="{% url 'comment-share' comment.pk %}" method="post">
                                  {% csrf_token %}
      
                                  <input type="hidden" name="next" value="{{ request.path }}">
      
                                  <button type="submit">
                                    {% if request.user in comment.shares.all %}
                                    <span class="icon is-small"><i class="fa fa-retweet green"></i></span>
      
                                    {% else %}
                                    <span class="icon is-small"><i class="fa fa-retweet" id="heart-toggle"></i></span>
      
                                    {% endif %}
                                    <i class="number-of-reaction">{{ comment.shares.all.count }}</i>
                                  </button>
                              </form>
                              </div>
                              
          
                              <div class="heart-icon">
  
                                <form action="{% url 'comment-like' comment.pk %}" method="post">
        
                                  {% csrf_token %}
        
                                  <input type="hidden" name="next" value="{{ request.path }}">
                                  
        
                                  <button type="submit">    
        
                                      {% if request.user in comment.likes.all %}
                                        <span class="icon is-small"><i class="fa fa-heart red" id="heart-toggle"></i></span>
                                        <!-- <span  class="like-btn{{post.pk}}">Liked</span>  -->
        
                                      {% else %}
                                        <span class="icon is-small"><i class="fa fa-regular fa-heart" id="heart-toggle"></i></span>
                                        <!-- <span  class="like-btn{{post.pk}}">Like</span>  -->
        
                                      {% endif %}
                                      <i class="number-of-reaction">{{ comment.likes.all.count }}</i>
        
                                  </button>
                                </form>
          
                                  
                              </div>
          
                              <div class="post-saved-item">
                                <form action="{% url 'bookmark-comment' comment.pk %}" method="post">
                                  {% csrf_token %}
        
                                  <input type="hidden" name="next" value="{{ request.path }}">
                                  
        
                                  <button type="submit">    
        
                                      {% if request.user in comment.bookmark.all %}
                                        <span class="icon is-small"><i class="fa fa-bookmark" id="heart-toggle"></i></span>
        
                                      {% else %}
                                        <span class="icon is-small"><i class="fa fa-regular fa-bookmark" id="heart-toggle"></i></span>
        
                                      {% endif %}
                                  </button>
        
                                </form>
                              </div>
                          </div>
      
                        </div>
                        </div>             
                
                        
                    </div>
                    <a href="{% url 'comment-detail' comment.user.username comment.pk %}" class="comment-link"></a>

                  </div>

                <hr class="hr-1">

              
              </div>

              {% endfor %}
        </div>
    </div>

{% endblock %}